html,
body {
  padding: 0;
  margin: 0;
  background: lightgrey;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /*cursor: none;*/
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/*ALL PAGES*/
.notNav {
  margin-top: 6rem;
}
/*ALL PAGES END*/

/*NAVBAR*/
.navbar {
  position: fixed;
  height: 70px;
  width: 100%;
  background: white;
  color: white;
  top: 0;
  font-weight: bold;
  padding: 0 10vw;
  z-index: 100;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-evenly;
}

.navbar ul div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.navbar img {
  margin-top: 5px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.navbar li {
  border-radius: 50%;
}

.navbar button {
  align-items: center;
  justify-content: center;
  height: 50px;
  width: max-content;
  margin: 10px 0;
  padding: .5rem 1rem;
  color: white;
  background-color: #1414ff;
  border: none;
  border-radius: 5px;
  cursor: none;
  transition: all .1s ease-in-out ;
}

.navbar button:hover {
  background-color: #4f4ffb;
  transition: all .2s ease-in-out ;
}

.navbar .btn-logo {
  font-size: 1.4rem;
  background-color: black;
  transition: all .2s ease-in-out ;
}

.navbar .btn-logo:hover {
  background-color: dimgray;
  transition: all .2s ease-in-out ;
}
/*END OF NAVBAR*/

/*CHOOSE USERNAME START*/
.chooseUserSection {
  font-size: xx-large;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chooseUserSection h3{
  font-weight: bold;
  color: white;
}

.chooseUserSection form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
}

.chooseUserSection form div {
  display: flex;
  flex-direction: row;
  column-gap: .25rem;
}

.chooseUserSection form input {
  border-radius: 5px;
  height: 3rem;
  border-style: solid;
  outline: none;
  width: 43vw;
}

.chooseUserSection form button {
  height: 3rem;
  border-radius: 5px;
  border: transparent;
  font-weight: bold;
}
/*END OF CHOOSE USERNAME*/

/*MIGHT CHANGE HOW THE LOADER LOOKS LATER... IF I HAVE TIME (First: 7/29/22 /Last: 7/29/22)*/
/*Colors will need to be adjusted*/
.loader {
  border: 10px solid transparent;
  border-top: 10px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/*PROFILE PAGE*/
.userProfile {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;;
}

.userProfile img {
  border-radius: calc(20vw + 130px);
  width: 10vw;
}
/*END OF PROFILE PAGE*/

/*MAINLINKS START*/
.mainLinkWrapper {
  display:flex;
  justify-content: center;
}

.mainLinks {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0rem 2rem;
  column-gap: calc(10vw - 20px);
}

.mainLinks button {
  height: 5vh;
  width: 10vw;
  border-radius: 20px;
  border: transparent;
  background-color: black;
  color: white;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, .3);
  transition: all .2s ease-in-out ;
}

.mainLinks button:hover {
  background-color: dimgray;
  transition: all .2s ease-in-out ;
}
/*END OF MAINLINKS*/

/*CURSOR*/
.cursor {
  position: absolute;
  border: 2px solid orange;
  background-color: orange;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  pointer-events: none;
}
/*END CURSOR*/

/*PAGE INDEX*/
.pageIndexAlign {
  margin-top: 1rem;
  margin-bottom: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}
/*END PAGE INDEX*/

/*FEED*/
.feedLink {
  display: flex;
  color: black;
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.wholeFeed {
  pointer-events: all;
  background-color: white;
  width: 60vw;
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
  position: relative;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
}

.topOfFeedCard {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  padding: 0 2rem;
  column-gap: 2rem;
  transform: translateY(-2rem);
  z-index: 2;
}

.feedCardTitle {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: left;
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: right;
  column-gap: .5rem;
  cursor: pointer;
}

.feedHeader {
  background: #f1f1f1;
  width: 93%;
  display: flex;
  justify-content: left;
  padding: 1rem 2rem;
  transform: translateY(-1rem);
  border-radius: 20px;
}

.postStatusWrap {
  display: flex;
  width: 100%;
  align-items: center;
  height: auto;
  padding: 0 2rem;
  z-index: 2;
  transform: translateY(1rem);
  margin-bottom: .5rem;
  pointer-events: none;
}

.postStatus {
  display: flex;
  height: min-content;
  justify-content: left;
  border-radius: 20px;
  padding: .5rem 1.5rem;
  color: white;
  font-weight: bold;
}

.adminFeed {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: right;
  column-gap: 1rem;
}

.adminFeed button { 
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: none;
  padding: .5rem 1.5rem;
  pointer-events: all;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.adminFeed button:hover { 
  background-color: dimgray;
  transition: all .2s ease-in-out;
}

.generalButton {
  display: flex;
  position: relative;
  justify-content: left;
  background-color: black;
  color: white;
  border-radius: 10px;
  border-style: none;
  padding: .5rem 1.5rem;
  transition: all .2s ease-in-out;
}

.generalButton:hover {
  color: black;
  background-color: white;
  transition: all .2s ease-in-out;
}
/*END FEED*/

/*SINGLE POST*/
.wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.singlePost {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background: white;
  border-radius: 20px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, .3);
  width: 80%;
}

.createNewPostWrapper {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  top: 9rem;
  z-Index: 4; 
  background: lightgrey;
  width: 100%;
  padding-bottom: 1rem;
}

.createNewPostWrapper input {
  padding: .5rem;
  width: 30vw;
  border-radius: 20px 0px 0px 20px;
  outline: none;
  border-style: none;
}

.createNewPostWrapper button {
  padding: .5rem;
  width: 5vw;
  border-radius: 0px 20px 20px 0px;
  border-style: none;
}
/*END SSINGLE POST*/